src/main/resources/META-INF/xsd/reports/ReportServiceRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:f="ua.omld.jpc" targetNamespace="ua.omld.jpc">
    <xs:include schemaLocation="../core/common-types.xsd"/>

    <xs:element name="userReportsRequest" type="f:userReportsRequest"/>

    <xs:complexType name="userReportsRequest">
        <xs:sequence>
            <xs:element name="userId" type="xs:long"/>

            <xs:element name="nameValueParameters" type="f:nameValueParameters" minOccurs="0" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>