src/main/resources/META-INF/xsd/building/BuildingServiceResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:f="ua.omld.jpc" targetNamespace="ua.omld.jpc">
    <xs:include schemaLocation="../core/common-types.xsd"/>

    <xs:element name="buildingsResponse" type="f:buildingsResponse"/>

    <xs:complexType name="buildingsResponse">
        <xs:complexContent>
            <xs:extension base="f:commonInterfaceResponse">
                <xs:sequence>
                    <xs:element name="buildingList" type="f:buildingList" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="inactivatedBuildingsResponse" type="f:updatedBuildingsResponse"/>

    <xs:complexType name="updatedBuildingsResponse">
        <xs:complexContent>
            <xs:extension base="f:commonInterfaceResponse">
                <xs:sequence>
                    <xs:element name="buildingsCount" type="xs:int" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>